@import './variables.scss';

*{@include default}


.sectionFour{
    padding: 30px 10%;
    text-align: center;
    background-color: $my-blue;
    color: white;
}

.secFourTwo{
    padding: 30px 0;
    font-weight: 400;
}

.courseDiv{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.courseEachDiv{
    padding: 30px;
    background-color: $my-white;
    border-radius: 20px;
    color: black;
}

.courseIcon{
    background-color: $my-yellow;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    width: fit-content;
    margin: auto;
}

.icons2{
    background-color: $my-blue;
}

.myIcon{
    font-size: 20px;
    color: white;
}

.courseEachDiv h2{
    padding: 10px 0;
    font-weight: 400;
}

.sectionFour button{
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(4, 147, 204);
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    gap: 5px;
}


.myIcons{
    font-size: 30px;
    color: rgb(14, 116, 176);
}


@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    .sectionFour{
        padding: 30px 8%;
        text-align: center;
    }

    .secFourTwo{
        font-size: 18px;
    }

    .myIcon{
        font-size: 15px;
        color: white;
    }
    
    .courseDiv{
        display: block;
    }

    .courseEachDiv{
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .courseIcon{
        padding: 8px;
    }

    .courseEachDiv p{
        font-size: 15px;
    }

    .courseEachDiv h2{
        font-size: 20px;
        padding: 6px 0;
    }

    .sectionFour button{
        font-size: 15px;
    }
}